# ------------------------------
# Entornos virtuales
# ------------------------------
venv/
env/
.venv/

# ------------------------------
# Configuración sensible
# ------------------------------
*.env
config.json
.env.local
.env.*.local

# ------------------------------
# Archivos de compilación/cache
# ------------------------------
__pycache__/
*.pyc
*.pyo
*.pyd
*.pdb
*.egg-info/
*.egg
*.manifest
*.spec

# ------------------------------
# Archivos temporales de editores
# ------------------------------
*.log
*.pot
*.mo
*.swp
*.swo
*.DS_Store
Thumbs.db
.vscode/
.idea/
*.iml

# ------------------------------
# Archivos de bases de datos locales
# ------------------------------
db.sqlite3

# ------------------------------
# Archivos estáticos y media (si los generas en deploy)
# ------------------------------
/staticfiles/
/media/

# ------------------------------
# Frontend (Node, build, etc.)
# ------------------------------
node_modules/
/dist/
/build/
/coverage/

# ------------------------------
# Docker y otros entornos
# ------------------------------
*.pid
*.seed
*.pid.lock
*.coveragerc
celerybeat-schedule
